@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
  overflow-x: hidden;
  background-color: #212426;
}

.main-text {
  display: flex;
  align-items: horizontal;
}

.main-text img {
  margin-top: 7px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 5px;
}

.main-text h1 {
  margin: 0;
  margin-top: 11px;
  font-size: 30px;
  font-weight: 1000;
  color: rgba(112, 181, 230, 1);
  font-family: "Roboto Slab", serif;
}

.frame {
  border-top-left-radius: 20px;
  margin-top: 5rem;
  background-color: #353634;
  margin-left: auto;
  width: 80%;
  min-height: 100vh;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 1);
}

.subtitle h2 {
  padding-top: 17px;
  margin-bottom:0 ;
  margin-left: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 1000;
  color: #69A8D0;
}

.container-movie {
  margin-left: 20px;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scroll-snap-align: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  position: relative;
}

.container-movie::-webkit-scrollbar {
  display: none;  
}

.movie {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scroll-snap-align: center;
  flex-shrink: 0;
  margin: 10px;
  width: 248px;
  height: 368px;
  /* width: 310px;
  height: 460px; */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie .release-date {
  font-weight: 600;
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 16px;
  margin: 0;
  color: #69A8D0;
}

.movie:hover .release-date {
  opacity: 1;
}

.movie .poster {
  width: 100%;
  height: 100%;
}

.movie .poster img {
  height: 100%;
  width: 100%;
}

.movie:hover .poster {
  height: 100%;
  opacity: 0.3;
}

.movie .title {
  z-index: 2;
  background-color: #44494b;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie .title span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #B6B8B5;
}

.movie .title h3 {
  margin: 0;
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: rgba(112, 181, 230, 1);
}

.movie:hover .title {
  background-color: transparent;
}

.container-flipped .container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 90%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 100;
  /* background-color: #B6B8B5; */
  background-color: #44494b;
  box-shadow: 
    5px 5px 10px -10px rgba(0, 0, 0, 0.1),
    -5px 5px 10px -10px rgba(0, 0, 0, 0.1);
}

.container-flipped .title {
  color: #9cc4d4;
  position: absolute;
  /* color: #1A84BA; */
  /* color: #B6B8B5; */
  width: 50%;
  display: flex;
  margin-top: 157px;
  left: calc(14% + 232.5px);
  font-family: "Roboto Slab", serif;
  align-items: center;
  font-size: 25px;
  z-index: 10;
}

.container-flipped .title h2 {
  text-shadow: -3px 3px 2px #1A84BA;
  text-align: center;
}

.container-flipped .overview {
  position: absolute;
  width: 53%;
  left: calc(14% + 232.5px);
  z-index: 11;
}

.container-flipped .overview h3 {
  color: rgba(112, 181, 230, 1);
  display: flex;
  font-family: "Roboto Slab", serif;
  text-shadow: -1px 1px 2px #5f7c98;
}

.container-flipped .overview p {
  margin-top: -10px;
  text-align: justify;
  color: rgba(112, 181, 230, 1);
  color: #9cc4d4;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 800;
  text-shadow: -1px 1px 2px #5f7c98;
}

.container-flipped .backdrop {
  position: absolute;
  top: 0;
  text-align: center; 
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 0;
}

.container-flipped .backdrop img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 60%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.container-flipped .flipped-poster {
  position: absolute;
  width: 232.5px;
  height: 345px;
  opacity: 1;
  z-index: 10;
  margin-left: 8%;
  margin-top: 20%;
  border-radius: 12px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.4);
}

.container-flipped .flipped-poster img {
  border-radius: 12px;
}

.container-flipped .genre {
  position: absolute;
}

.container-flipped .ratings {
  position: absolute;
}

.container-flipped .cineberg-rating {
  position: absolute;
}

.container-flipped .credits-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: calc(13% + 232.5px);
}

.container-flipped .cast-container {
  display: inline-block;
  text-align: center;
  align-items: center; 
  margin: 5px;
  z-index: 10000;
}

.container-flipped .cast-profile-pic {
  width: 75px; 
  height: auto;
  margin-bottom: 3px;
}

.container-flipped .cast-profile-pic img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.3),
    -3px 3px 5px rgba(0, 0, 0, 0.3);
}

.container-flipped .cast-name {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75px;
}

.container-flipped .cast-name p {
  margin: 0;
  font-size: 11px;
  display: flex;
  color: #9cc4d4;
  opacity: 0.7;
}

.container-flipped .character-name {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 75px;
}

.container-flipped .character-name p {
  margin-top: 2px;
  font-size: 8px;
  display: flex;
  color: rgba(112, 181, 230, 0.9);
}
