@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('https://fonts.googleapis.com/css2?family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  


body {
  /* background-color: #353634; */
  overflow-x: hidden;
  background-color: #212426;
}

.frame {
  border-top-left-radius: 20px;
  margin-top: 5rem;
  background-color: #353634;
  /* margin-right: auto; */
  margin-left: auto;
  width: 80%;
  min-height: 100vh;
}

.main-text {
  display: flex;
  align-items: horizontal;
}

.main-text img {
  margin-top: 7px;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 5px;
}

.main-text h1 {
  margin: 0;
  /* text-align: center; */
  /* letter-spacing: 3px; */
  margin-top: 11px;
  font-size: 30px;
  font-weight: 1000;
  /* color: rgba(26, 132, 186, 1); */
  color: rgba(112, 181, 230, 1);
  /* color: rgba(91, 143, 206, 1); */
  /* position: relative; */
  /* font-family: "DM Serif Display", serif; */
  font-family: "Roboto Slab", serif;
  /* top: 20px; */
  /* text-shadow: -3px -2px 1px rgba(105, 168, 208, 0.9); */
}

.subtitle h2 {
  padding-top: 17px;
  margin-bottom:0 ;
  margin-left: 30px;
  font-family: "Roboto Slab", serif;
  font-weight: 1000;
  color: #69A8D0;
  /* color: #1A84BA; */
  /* color: #69A8D0; */
}

.container {
  margin-left: 20px;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scroll-snap-align: center;
  width: 100%;
  /* margin-top: 5rem; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  /* animation: 15s slide infinite linear; */
}

.container::-webkit-scrollbar {
  display: none;  
}

/* @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%)
  }
} */

.movie {
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scroll-snap-align: center;
  flex-shrink: 0;
  margin: 10px;
  width: 248px;
  height: 368px;
  /* width: 310px;
  height: 460px; */
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

  
.release-date {
  font-weight: 600;
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 16px;
  margin: 0;
  color: #69A8D0;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.poster {
  width: 100%;
  height: 100%;
}

.poster img {
  height: 100%;
  width: 100%;
}

  

.title {
  z-index: 2;
  background-color: #44494b;
  padding: 16px 24px 24px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.title span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #B6B8B5;
}

.title h3 {
  margin: 0;
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: rgba(112, 181, 230, 1);
}

.poster:hover {
  height: 100%;
  opacity: 0.3;
}

.title:hover {
  background-color: transparent;
}

.releae-date {
  opacity: 1;
}