.back-button {
    border-radius: 50px;
    background-color: #B6B8B5;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.6);
}

.back-arrow {
    margin-top: -5px;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    color: #353634;
    font-weight: 600;
}