.back-button {
    border-radius: 50px;
    background-color: #B6B8B5;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.2s, transform 0.2s;
}

.back-button:active {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(2px);
}

.back-arrow {
    margin-top: -5px;
    font-family: "Roboto Slab", serif;
    font-size: 35px;
    color: #353634;
    font-weight: 600;
}
