@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

.main-text {
  display: flex;
  align-items: horizontal;
}

.main-text img {
  margin-top: 14px;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.main-text h1 {
  margin: 0;
  margin-top: 11px;
  font-size: 40px;
  font-weight: 1000;
  color: rgba(112, 181, 230, 1);
  font-family: "Roboto Slab", serif;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.login {
  position: absolute;
  background-color: rgba(34, 36, 38, 1);
  padding: 5px 13px;
  border: 1px solid rgba(112, 181, 230, 0.9);
  border-radius: 4px;
  margin-left: 1350px;
  margin-top: 20px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.login:hover {
  background-color: rgba(112, 181, 230, 1);
}

.login:hover h1 {
  color: rgba(34, 36, 38, 1);
}

.login h1 {
  letter-spacing: 1.5px;
  color: rgba(112, 181, 230, 0.9);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.loggedin {
  position: absolute;
  margin-left: 1380px;
  margin-top: 2px;
  opacity: 0.8;
}

.loggedin-settings {
  visibility: hidden;
  transition: visibility 0.5s;
}

.loggedin:hover .loggedin-settings {
  visibility: visible;
}

.search-button {
  position: absolute;
  width: 37%;
  height: 1%;
  margin-left: 30%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search-button input {
  flex: 1;
  border: none;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #b6b8b5;
  background: #1f2123;
  opacity: 0.7;
}

.search-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.5;
}

.nav-bar {
  position: absolute;
  margin-top: -1490px;
  margin-left: 40px;
  font-family: "Roboto Slab", serif;
  width: 300px;
}

.nav-bar h6 {
  color: rgba(112, 181, 230, 1);
  opacity: 0.7;
  font-size: 21px;
}

.nav-bar ul {
  margin-top: -25px;
  margin-left: -20px;
  font-weight: 700;
}

.nav-bar li {
  margin-top: 20px;
  margin-bottom: -5px;
  font-size: 18px;
  color: #9cc4d4;
  opacity: 0.4;
  cursor: pointer;
}

.nav-bar .genres {
  margin-top: 50px;
}