.search {
    display: flex;
    justify-content: center;
}

.recommendation-search-button {
    width: 45%;
    height: 10px;
    margin-left: 15px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    border-radius: 3rem;
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px rgb(34, 37, 39);
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.recommendation-search-button input {
    flex: 1;
    border: none;
    font-size: 15px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    padding-right: 1rem;
    outline: none;
    color: #B6B8B5;
    background: #1f2123;
    opacity: 0.7;
}

.recommendation-search-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
}

.main-text h3 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    position: absolute;
    color: #9cc4d4;
    opacity: 0.6;
    margin-left: 73px;
    margin-top: 65px;
    font-size: 16px;
    font-style: italic;
}

.paste-button {
    display: block;
    margin-top: 60px;
}

.button {
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 3rem;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.button img {
    width: 42px;
    margin-right: 7px;
}

.button .selected-scale {
    color: rgba(112, 181, 230, 0.9);
    font-family: "Roboto Slab", serif;
    margin-right: 4px;
}

.button .triangle {
    display: flex;
    color: #9cc4d4;
    opacity: 0.8;
    margin-top: 2px;
    font-size: 15px;
}

.dropdown-content {
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    background-color: 0;
    border: 2px solid rgba(112, 181, 230, 1);
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content button {
    font-family: "Roboto Slab", serif;
    color: rgba(112, 181, 230, 1);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
}

.dropdown-content button:hover {
    background-color: rgba(112, 181, 230, 1);
    color: #212121;
}

.dropdown-content .top:hover {
    border-radius: 0px 13px 0px 0px;
}

.dropdown-content .middle:hover {
    border-radius: 0;
}

.dropdown-content .bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

/* .paste-button .button {
    border-radius: 15px 15px 0px 0px;
} */

.recommended-movies-frame {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10rem;
    background-color: #353634;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: -20px;
    min-height: 72.5vh;
    box-shadow: -7px -1px 18px -8px rgba(0, 0, 0, 0.6),
    7px -1px 18px -10px rgba(0, 0, 0, 0.6);
}

.header {
    padding-top: 23px;
    margin-bottom:0 ;
    margin-left: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 1000;
    color: #69A8D0;
}

.recommended-container-movie {
    margin-left: 30px;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 10px;
    scroll-snap-align: center;
    width: 94.9%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    position: relative;
}

.recommended-container-movie::-webkit-scrollbar {
    display: none;  
}

.recommended-movie-title {
    color: #9cc4d4;
    font-family: "Roboto Slab", serif;
    text-shadow: -1px 1px 2px #1A84BA;
}

.loading {
    position: absolute;
    margin-top: 50px;
    margin-left: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; 
}
  
.loading-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #69A8D0;
    margin: 0 5px;
    animation: dot-typing 1.5s infinite ease-in-out;
}
  
.loading-dot:nth-child(1) { animation-delay: 0s; }
.loading-dot:nth-child(2) { animation-delay: 0.5s; }
.loading-dot:nth-child(3) { animation-delay: 1s; }

  
@keyframes dot-typing {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.5);
    }
}

.loading-text {
    position: absolute;
    font-family: "Roboto Slab", serif;
    color: #5f7c98;
    font-size: 15px;
    font-weight: 500;
    margin-left: 607px;
    margin-top: 80px;
}