@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orelega+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

.create-account-container {
  background-color: #44494b;
  width: 500px;
  margin: auto;
  height: 500px;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1), -5px 0 10px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.1);
}

.create-account-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.create-account-container .create-account-title {
  font-family: "Roboto", sans-serif;
  margin-top: -25px;
  color: #b6b8b5;
  opacity: 0.7;
  font-weight: 500;
  font-size: 17px;
}

.create-account-container .complete-signup {
  display: flex;
  justify-content: center;
  border: solid 2px rgba(112, 181, 230, 1);
  width: 150px;
  margin: auto;
  border-radius: 5px;
  margin-top: 60px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.create-account-container .complete-signup:hover {
  background-color: rgba(112, 181, 230, 1);
}

.create-account-container .complete-signup h3 {
  color: rgba(112, 181, 230, 1);
  margin: 7px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
}

.create-account-container .complete-signup:hover h3 {
  color: rgba(69, 73, 75, 1);
}

.email-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.email-signup .email {
  margin-bottom: 10px;
  border: solid 2px rgba(170, 172, 170, 0.5);
  border-radius: 5px;
  width: 280px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.email-signup .password {
  border: solid 2px rgba(170, 172, 170, 0.5);
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  width: 251px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.email-signup .password-invalid {
  border: solid 2px rgba(255, 127, 127, 1);
  background-color: #ffc9bb;
  outline: none;
}

.signup-password {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.signup-password .view-icon {
  height: 32px;
  border: solid 2px rgba(213, 213, 212, 1);
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: rgba(255, 255, 255, 1);
  margin-left: -4px;
}

.signup-password .invalid-view-icon {
  border: solid 2px rgba(255, 127, 127, 1);
  border-left: none;
  background-color: #ffc9bb;
}

.error-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 115px;
}

.error-message h6 {
  font-family: "Roboto", sans-serif;
  color: #ff4122;
  opacity: 0.8;
  font-size: 13px;
}

.error-message-combined {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 138px;
  align-items: center;
}

.error-message-combined p {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: "Roboto", sans-serif;
  color: #ff4122;
  opacity: 0.8;
  font-size: 13px;
  font-weight: 600;
}